Repository kevpdev/mon-blog-astro-starter-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,astro}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,html}": ["prettier --write"]
}

update CLAUDE.md
  .claude/CLAUDE.md
Due: prettier --write

add file config for github action
  .github/workflows/ci.yml
Due: none

fix jekyll error on github page
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix prettier format
  package.json
Due: prettier --write

verify .nojekyll file exists
  .github/workflows/ci.yml
Due: none

fix jekyll error on github page v2
  .github/workflows/ci.yml
Due: none

fix jekyll error on github page v3
  .github/workflows/ci.yml
Due: none

fix: correct YAML indentation in ci.yml
  .github/workflows/ci.yml
Due: none

fix: add GitHub Actions permissions for Pages"
  .github/workflows/ci.yml
Due: none

fix: use official GitHub Pages actions
  .claude/settings.local.json
  .github/workflows/ci.yml
Due: prettier --write

fix: split workflow into build and deploy jobs
  .github/workflows/ci.yml
Due: none

fix: displaying css styles on github pages
  astro.config.mjs
Due: none

refactor: restructure config for multi-env support
  .github/workflows/ci.yml
  astro.config.mjs
  package.json
Due: prettier --write

fix: prettier format
  .claude/settings.local.json
  .github/workflows/ci.yml
  astro.config.mjs
Due: prettier --write

debug: add detailed env detection logs
  astro.config.mjs
Due: none

fix: prettier format
  astro.config.mjs
Due: none

fix: use proper base URLs for all internal links
  src/components/layout/Header.astro
  src/utils/url.ts
Due: eslint --fix, prettier --write

fix: eslint error
  astro.config.mjs
  src/utils/url.ts
Due: eslint --fix, prettier --write

fix: apply base URL to all static assets (fonts, favicon)
  src/components/ui/BaseHead.astro
Due: eslint --fix, prettier --write

fix: apply base URL to ALL internal links site-wide
  src/components/ui/RelatedPostsSidebar.astro
  src/layouts/BlogLayout.astro
  src/pages/404.astro
  src/pages/500.astro
  src/pages/blog/tag/[tag].astro
Due: eslint --fix, prettier --write

fix: apply base URL to ALL blog post and tag links
  src/components/ui/PostCard.astro
  src/components/ui/PostMeta.astro
  src/components/ui/RelatedPostsSidebar.astro
  src/layouts/FormationsLayout.astro
  src/layouts/HomeLayout.astro
Due: eslint --fix, prettier --write

fix: footer layout
  src/components/layout/FooterNew.astro
  src/layouts/BlogListLayout.astro
  src/pages/blog/tag/[tag].astro
  src/styles/design-tokens.css
Due: eslint --fix, prettier --write

feat: francisation complète et généralisation du starter
  .claude/CLAUDE.md
  src/config/navigation.ts
  src/content/blog/avis-formation-affiseo-hub.md
  src/content/blog/markdown-style-guide.md
  src/content/blog/sixth-post.md
  src/layouts/FormationsLayout.astro
  src/layouts/HomeLayout.astro
  src/pages/meilleures-formations-seo-business.astro
  src/pages/services.astro
Due: eslint --fix, prettier --write

docs: enhance Claude documentation with issue templates
  .claude/CLAUDE.md
  .claude/commands/create-issue.md
  .claude/commands/debug-issue.md
  .claude/core/development-workflow.mdx
  .claude/core/project-overview.mdx
  .claude/inputs/README.md
  .claude/rules/astro/components/component-architecture.mdx
  .claude/rules/astro/components/error-components.mdx
  .claude/rules/astro/styling/tailwind-config.mdx
  .claude/rules/astro/testing/testing-standards.mdx
  .claude/rules/generic/code-quality/clean-code.mdx
  .claude/rules/generic/code-quality/naming-conventions.mdx
  .claude/rules/generic/code-quality/typescript.mdx
  .claude/rules/generic/error-handling/error-handling.mdx
  .claude/rules/generic/performance/core-web-vitals.mdx
  .claude/rules/generic/performance/performance-optimization.mdx
  .claude/rules/generic/security/frontend-security.mdx
  .claude/rules/generic/testing/testing-frontend.mdx
  .claude/rules/generic/testing/testing-standards.mdx
  .claude/rules/workflows/content-creation.md
  .claude/rules/workflows/feature-implementation.md
  .claude/settings.local.json
  .claude/snippets/astro/component-patterns.md
  .claude/snippets/astro/frontmatter-schemas.md
  .claude/snippets/css/responsive-patterns.md
  .claude/snippets/generic/configs/astro.config.mjs
  .claude/snippets/generic/settings.local.json
  .claude/snippets/generic/typescript-types.md
  .claude/snippets/generic/vitest-config-guide.md
  .claude/snippets/generic/vitest.config.ts
  .claude/templates/astro/component-template.astro.mdx
  .claude/templates/astro/error-page-template.astro.mdx
  .claude/templates/astro/page-template.astro.mdx
  .claude/templates/generic/command-template.mdx
  .claude/templates/generic/test-template.spec.ts.mdx
  .claude/templates/issues/README.md
  .claude/templates/issues/bug-fix-issue.md
  .claude/templates/issues/feature-issue.md
  .claude/templates/issues/refactor-issue.md
  .claude/templates/issues/ui-component-issue.md
Due: eslint --fix, prettier --write

fix: prettier format
  .claude/commands/create-issue.md
  .claude/commands/debug-issue.md
  .claude/core/development-workflow.mdx
  .claude/core/project-overview.mdx
  .claude/inputs/README.md
  .claude/rules/astro/components/component-architecture.mdx
  .claude/rules/astro/components/error-components.mdx
  .claude/rules/astro/styling/tailwind-config.mdx
  .claude/rules/astro/testing/testing-standards.mdx
  .claude/rules/generic/code-quality/clean-code.mdx
  .claude/rules/generic/code-quality/naming-conventions.mdx
  .claude/rules/generic/code-quality/typescript.mdx
  .claude/rules/generic/error-handling/error-handling.mdx
  .claude/rules/generic/performance/core-web-vitals.mdx
  .claude/rules/generic/performance/performance-optimization.mdx
  .claude/rules/generic/security/frontend-security.mdx
  .claude/rules/generic/testing/testing-frontend.mdx
  .claude/rules/generic/testing/testing-standards.mdx
  .claude/rules/workflows/content-creation.md
  .claude/rules/workflows/feature-implementation.md
  .claude/settings.local.json
  .claude/snippets/astro/component-patterns.md
  .claude/snippets/astro/frontmatter-schemas.md
  .claude/snippets/css/responsive-patterns.md
  .claude/snippets/generic/configs/astro.config.mjs
  .claude/snippets/generic/settings.local.json
  .claude/snippets/generic/typescript-types.md
  .claude/snippets/generic/vitest-config-guide.md
  .claude/snippets/generic/vitest.config.ts
  .claude/templates/astro/component-template.astro.mdx
  .claude/templates/astro/error-page-template.astro.mdx
  .claude/templates/astro/page-template.astro.mdx
  .claude/templates/generic/command-template.mdx
  .claude/templates/generic/test-template.spec.ts.mdx
  .claude/templates/issues/README.md
  .claude/templates/issues/bug-fix-issue.md
  .claude/templates/issues/feature-issue.md
  .claude/templates/issues/refactor-issue.md
  .claude/templates/issues/ui-component-issue.md
  src/content/blog/markdown-style-guide.md
Due: eslint --fix, prettier --write

feat: transform services page to developer resources with improved contrast and pre-commit hooks
  .claude/CLAUDE.md
  .claude/commands/implement-feature.md
  .claude/settings.local.json
  .husky/commit-msg
  .husky/pre-commit
  package.json
  src/config/navigation.ts
  src/pages/ressources.astro
  src/pages/services.astro
Due: eslint --fix, prettier --write

feat: test cli .claude update
  .claude/commands/generate-commit-message.md
Due: prettier --write

fix(deps): refresh the lockfile, bump vitest and sharp, document the astro 5 advisories left
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(gate): add lint, unit-tests, build and security jobs behind a single ci gate
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .trivyignore
  README.md
  vitest.config.ts
Due: eslint --fix, prettier --write

ci(security): ignore the astro 5 advisories by CVE id for trivy
  .trivyignore
Due: none

fix(ci): pin pnpm 10 in the deploy workflow like the ci one
  .github/workflows/deploy.yml
Due: none
